<footer class="footer"> 
  <div class= "container">
  
    <div class="row"><span class="glyphicon glyphicon-copyright-mark"> </span> Stone Computer Inc. 2014 All right reserved.</div>
    <div class="row"><%= link_to "Terms", 'terms' %> | <%= link_to "Privacy", 'privacy' %> </div>
  
  </div>  
</footer>    