<article>
    <div class="row">
      <div class="col-md-4">
        <div class="row"> 
          <div class="col-md-6"> 
            <%=image_tag ("TPg2014_rgb.png") %>
          </div>
          <div class="col-md-6"> 
            <%=image_tag ("LenovoBP-POS-color.jpg") %>
          </div>
         </div>
        <div class="row">
          <div class="col-md-12"><%=image_tag ("lenovo_intel_300x250.png") %></div>
        </div>
        <div class="row">
           <div class="col-md-12"><%=image_tag ("ringcentral.png") %></div>
        </div>
      </div>
      <div class="col-md-8">
        <h2>History</h2>	
        <p>Established in 1991, Stone Computer has been a leading custom computer manufacturer. We have supplied custom desktop computers, notebooks and servers to government agencies, educational institutes, nationwide franchises, large non for profit organizations, small and medium businesses, VARs and regular consumers. The excellent qualities of our products and the outstanding services behind them have kept our customers coming back throughout upgrade cycles.</p>

        <h2>Current</h2>
        <p>Technologies have been evolving. Although our core business was custom built systems, Stone Computer has since evolved into a solution provider and technology integrator from a system builder. Our products and services have been expanded into digital   signage, digital security and surveillance, retail POS, VoIP, remote support and web application development. </p>  
      </div> 
    </div> 
</article>
  
