<div class="row">
  <div class="col-md-4">
    <div class="thumbnail"> 
      <%=image_tag "AnimatedBanner_300x250_MicrosoftWindows8Pro.gif" %>
      <div class="caption">
        <h3><strong>Powerful Gaming</strong></h3>
        <h5>Features: </h5>
        <li>Intel's first 8-core i7 processor Extreme Edition
        <li>Radeon R9 series or Geforce GTX 900 series 
        <li>Multidisplay up to 6 screens, and 4k resoltion  
        <li>Latest DDR4 memory supports up to 128GB
        <li>Solid State Drive offers instant start-up time. 
        <li>Storage space up to 24TB   
        <li>Customized chasis gives distinguished look.  
        <li>Optimized for the latest PC games
        <p><a href="#" class="btn btn-primary btn-sm" role="button"> Request for quote</a></p>   
      </div>
    </div> 
  </div>  
  <div class="col-md-4">
      <div class="thumbnail"> 
        <%=image_tag "AnimatedBanner_300x250_MicrosoftWindows8Pro.gif" %>
        <div class="caption">
          <h3><strong>Business Desktop</strong></h3>
          <h5>Features: </h5>
          <li>Intel vPro Technology 
          <li>Integrated Intel HD graphics (up to 3 screens)
          <li>Intel Wireless Display  	
          <li>Built-in security and manageablility	
          <li>DDR3 RAM up to 32GB.
          <li>Solid State Drive offers instant start-up time. 
          <li>Available small footprint case  
          <li>Optimized for today's business applications
          <p><a href="#" class="btn btn-primary btn-sm" role="button"> Request for quote</a></p>   
        </div>
      </div> 
  </div>  
  <div class="col-md-4">
    <div class="thumbnail"> 
      <%=image_tag "AnimatedBanner_300x250_MicrosoftWindows8Pro.gif" %>
      <div class="caption">
        <h3><strong>Workstations</strong></h3>
        <h5>Features: </h5>
        <li>Intel 4th Generation i7 or Xeon Processor 
        <li>Workstation Graphics by Quadro or FirePro.
        <li>Multidisplay supports to 6 screens.
        <li>DDR4 memory support up to 128GB.
        <li>Solid State Drive offers instant start-up time. 
        <li>optimized to run with wide range of industrial applications, such as AutoCAD速,Solidworks,  Maya速, 3ds Max速, After Effects速. 
        <p><a href="#" class="btn btn-primary btn-sm" role="button"> Request for quote</a></p>  
                                    
      </div>
    </div> 
  </div>    

</div>