
<article>
      
        <div class="row">
          <h2><strong>STONEPC.COM Privacy Notice:</strong></h2>
         <small>STONEPC.COM is committed to respecting your privacy. Our personal information handling practices are outlined below.                
        </div>  
          
        <div class="row">
          <div class="col-md-8">
          <h4>Collection of Your Personal Information</h4>
          <p>STONEPC.COM collects personal information such as your name, address, email address and telephone number for a variety of reasons.  </p>
          <h4>Use of Your Personal Information</h4>
          <p>STONEPC.COM will only use your personal information for the purpose it was collected. For example, to deliver a product or service that you have requested, enable your participation and/or personalize your experience on our website. We will also use your personal information for promotional activities: such as promoting new products/services and/or announcing sales on products/services. You will have the option to opt out any of such activities. </p>
          <h4>Sharing Your Personal Information</h4>
          <p>STONEPC.COM only provide third parties with the minimum amount of your perosnal information necessary to complete the requested service. We do not allow third parties to use your personal information for a different purpose. </p>
          <p>We may need to access or disclose your personal information to comply with the law or legal process and to excercise our legal rights or defend against legal claims</p>
          <p>We may share your personal information and any additional information available to us in order to investigate, prevent, and take action regarding illegal activities, suspected fraud, and situations involving potential threats to the physical safety of any person, viloation of STONEPC.COM's term of use, or as otherwise required by law. </p>
          <h4>Data Retention</h4>
          <p>STONEPC.COM will only retain your personal information to fulfill the purposes for which it was collected or as required by applicable laws or regulations. </p>
          <h4>Linked Sites</h4>
          <p>STONEPC.COM may provide links to websites operated by third parties that are not convered by this policy. We encourage you to review the privacy policies posted on those websites. </p>
          </div>
         </div>  
  
  
</article>

  