
<article>
  <div class="row">
    <div class="col-md-12">
   
    <h2>Agreement and Conditions of Sales and Services: </h2>
    </div>
  </div>
  <div class="row">  
    <div class="col-md-8">
      <p>All claims for damage or error must be made with 7 days of receipt of merchandise.</p>
      <p>All custom built systems by Stone Computer Inc. carry 1 year limited parts and labor warranty.</p>
      <p>All brand name products ( excluding systems built by Stone Computer Inc. ) carry manufacturers' warranty only.</p>
      <p>No return, refund or replacement for products and services after 7 days of purchase.</p>
      <p>No return, refund or replacement for products with physical damages due to customer misuse.</p>
      <p>No return, refund or replacement on purchased software or software license products.</p>
      <p>No return or refund on any special ordered merchandises.</p>
      <p>A 15% restocking fee will be charged for returned merchandises.</p>
      <p>A 30% fee will be charged on anyt returned checks.</p>
      <p>A monthly interest charge at 1.5% will be accessed on past due amounts </P>
      <P>All computer repair service has 7 days warranty on software and 30 days warranty on hardware; labor charge on systems          repaired and hardware/software installation is <strong>NON-REFUNDABLE</strong>. </p>
      <p>Our service department is not responsible for loss of data or any software program installed; customer is responsible          for data backup and application software reinstallation. </P>
      <p>All items not claimed and not paid for within sixty (60) days of repair (service invoice date) will be considered              abandoned by the customer and Stone Computer Inc. has the rights to dispose all the abondoned items. (Customer is              responsible to keep track their items.) </p>

      <h6> NYC Eletronics Store License #1436085 </br>
	     NYC Service License #1436509 </h6>
    </div>
  </div>
</article>

